<!-- ***** Header Area Start ***** -->

<header class="header-area bg-white">
	<div class="container-fluid bg-primary">
		<div class="row">
			<div class="col-12">
				<nav
					class="main-nav">
					<!-- ***** Logo Start ***** -->
					<a href="" class="logo">
						<img src="{{asset('assets/images/iconEtablissement.jpeg')}}" width="70px" height="70px">
					</a>
					<!-- ***** Logo End ***** -->
					<!-- ***** Menu Start ***** -->
					<ul class="nav">
						<li class="scroll-to-sections">
							<a href="" class="navbar-brand text-body active">Accueil</a>
						</li>
						{% if app.user %}
							<li class="scroll-to-section ">
								<a href="{{path('app_logout')}}" class="navbar-brand text-body">Me déconnecter</a>
							</li>
							<li class="scroll-to-section navbar-brand text-dark">{{ app.user.prenom}}
								{{ app.user.nom}}
							</li>
						{% else %}
							<li class="scroll-to-sections">
								<a href="{{path('administ1')}}" class="navbar-brand text-body">Me Connecter</a>
							</li>
						{% endif %}
					</ul>
					<!-- ***** Menu End ***** -->
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- ***** Header Area End ***** -->
