{% extends 'admin/Dashboard/administration1.html.twig' %}

{% block title %}Les parents d'élèves
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="row">
			<center>
				<div class="row">
					<div class="col-lg-12">
						<a href="{{ path('app_parentss_new') }}">
							<i class="fa  fa-user-plus"></i>
							<span>Ajouter un parents
							</span>
						</a>
					</div>
				</div>
			</center>
		</div>
	{% endif %}
	<!-- Content Wrapper. Contains page content -->
	<div class="content">
		<section class="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Liste des
							{#	{{countAllEleves['value']}} #}
								parents</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row">
								<div
									class="col-sm-6">{#{% include "admin/Recherche/_recherche.html.twig" %}#}
								</div>
								<div class="col-sm-6">
									<div id="example1_filter" class="dataTables_filter">
										<label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
									</div>
								</div>
							</div>
							<table id="example1" class="table table-bordered table-hover">
								<thead>
									<tr>
										{% if is_granted('ROLE_ADMIN') %}
											<th>Détail</th>
										{% endif %}
										<th>Matricule</th>
										<th>Nom</th>
										<th>Prenom</th>
										<th>Adresse</th>
										<th>Telephone</th>
										<th>Sexe</th>
										<th>Photo</th>
										{% if is_granted('ROLE_ADMIN') %}
											<th>actions</th>
										{% endif %}
									</tr>
								</thead>
								<tbody>
									{% for elefe in parents %}
										<tr>
											{% if is_granted('ROLE_ADMIN') %}
												<td>
													<a href="{{ path('app_eleves_show', {'id': elefe.id}) }}" class="glyphicon glyphicon-eye-open text-warning"></a>
												</td>
											{% endif %}
											<td>{{ elefe.id }}</td>
											<td>{{ elefe.Nom | upper() }}</td>
											<td>{{ elefe.PrenomParent }}</td>
											{#<td>{{ elefe.DateNaissance ? elefe.DateNaissance|date('d-m-Y') : '' }}</td>#}
											<td>{{ elefe.Adresse }}</td>
											<td>{{ elefe.TelephoneParent.id}}</td>
											<td>{{ elefe.Sexe }}</td>
											<td><img style="width: 50px; heigth: 50px;" src="{{asset('uploads/eleves/'~ elefe.imageFileName)}}" alt=""></td>
											{% if is_granted('ROLE_ADMIN') %}
												<td>
													<a href="" class="glyphicon glyphicon-ok-sign text-success"></a>
													<a href="{{ path('app_parents_edit', {'id': elefe.id}) }}" class="glyphicon glyphicon-pencil"></a>
													<a href="{{ path('app_parents_new', {'id': elefe.id}) }}" class="glyphicon glyphicon-remove-sign text-danger"></a>
												</td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
							{#<div class="row">
								<div class="col-sm-5">
									<div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
								</div>
								<div class="col-sm-7">
									<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
										<ul class="pagination">
											{% if previous >= 0 %}
												<li class="paginate_button previous" id="example1_previous">
													<a href="{{path('app_parents_index', {offset: previous})}}" aria-controls="example1">Précédent</a>
												</li>
											{% endif %}
											{% if next < TousEleves|length %}
												<li class="paginate_button next" id="example1_next">
													<a href="{{path('app_parents_index',{ offset: next})}}" aria-controls="example1">suivant</a>
												</li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>#}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}


{#

{% extends 'base.html.twig' %}

{% block title %}Parents index{% endblock %}

{% block body %}
    <h1>Parents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>PrenomParent</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Sexe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parent in parents %}
            <tr>
                <td>{{ parent.id }}</td>
                <td>{{ parent.Nom }}</td>
                <td>{{ parent.PrenomParent }}</td>
                <td>{{ parent.Adresse }}</td>
                <td>{{ parent.Telephone }}</td>
                <td>{{ parent.Sexe }}</td>
                <td>
                    <a href="{{ path('app_parents_show', {'id': parent.id}) }}">show</a>
                    <a href="{{ path('app_parents_edit', {'id': parent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parents_new') }}">Create new</a>
{% endblock %}
#}