{% extends 'admin/Dashboard/administration1.html.twig' %}

{% block title %}Emplois du temps
{% endblock %}

{% block body %}
	<center>
		<h1>Liste des emplois du temps</h1>
		<div class="row">
			<div class="col-lg-12">
				<a href="{{ path('app_emploi_temps_new') }}">
					<i class="glyphicon glyphicon-plus-sign"></i>
					<span>Ajouter une classe
					</span>
				</a>
			</div>
		</div>
	</center>
	<table class="table">
		<thead class="bg-primary">
			<tr>
				<th>Jour</th>
				<th>Début</th>
				<th>Fin</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for emploi_temp in emploi_temps %}
				<tr>
					<td>{{ emploi_temp.Jour }}</td>
					<td>{{ emploi_temp.HeureDebut ? emploi_temp.HeureDebut|date('H:i:s') : '' }}</td>
					<td>{{ emploi_temp.HeureFin ? emploi_temp.HeureFin|date('H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_emploi_temps_show', {'id': emploi_temp.id}) }}" class="glyphicon glyphicon-eye-open"></a>
						<a href="">....</a>
						<a href="{{ path('app_emploi_temps_edit', {'id': emploi_temp.id}) }}" class="glyphicon glyphicon-pencil"></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
